.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:  #C4C4C4;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 25px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: roboto;
    color: black;
    display: block;
  }
  .logo {
  margin-left: 12.11%;
  margin-right: 26.56%;
  margin-top: 4.14%;
  margin-bottom: 34%;
  border-radius: 50%;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .content {
    font-family: roboto;
    margin-top: 200px;
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  